@font-face {
    font-family: "simKyungHa";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/simKyungHa/simKyungHa.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/simKyungHa/simKyungHa.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/simKyungHa/simKyungHa.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/simKyungHa/simKyungHa.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/simKyungHa/simKyungHa.ttf") format("truetype");
    font-display: swap;
} 
.simKyungHa {
    font-family: "simKyungHa";
}